@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme inline {
  --color-primary: #ff6e40;
  --color-primary-dark: #d95e36;
  --color-primary-light: --alpha(var(--color-primary) / 10%);
  --color-body: var(--color-slate-500);
  --color-body-dark: var(--color-slate-800);
  --color-background: #f5f4fe;
  --color-green: var(--color-green-600);
  --color-red: var(--color-red-600);
  --color-accent: var(--color-slate-200);
  --font-poppins: "Poppins", sans-serif;
}

body {
  color: var(--color-body);
  background-color: var(--color-background);
  font-family: var(--font-poppins);
  font-weight: var(--font-weight-normal);
  font-size: var(--text-base);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
}
